body, html {
  height: 100%;
}

.header-container {
  background: url('../img/BACKGROUND_LISTING-INDITRAVEL-1024X500px-02-02.png');
  background-color: #fff;
    /* Full height */
  height: 80%;

  /* Center and scale the image nicely */
  background-position: 0px -375px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-nav {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: 3em;
  margin-left: 3em;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin-right: 1em;
}

.header-tagline {
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 600;
}

.header-leftside {
  display: flex;
  align-items: center;
}

.header-rightside {
  display: flex;
  align-items: center;
}

.header-back-to {
  margin-bottom: 0px;
  color: #253858;
  font-size: 16px;
  font-weight: 600;
  margin-right: 1em;
}

.header-button {
  background-color: #0ECEBB;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.75em;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.header-button:hover {
  cursor: pointer;
}

.header-search { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-search-label {
  text-align: center;
  letter-spacing: 0px;
  color: #253858;
  opacity: 1;
  margin-bottom: 1em;
}

.header-search-box {
  width: 650px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  background-image: url('../img/icon/search_icon.png');
  background-size: 25px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 50px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  box-shadow: 5px 10px 8px #ebebeb;
}

.header-search-box:focus {
  width: 50%;
}